<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.appspot.mysocialtrip"
        versionCode = "10"
        version     = "1.0.0" >

    <name>Vagabond</name>

    <description>
        Use Vagabond to create, collect and share travel tips.
    </description>

    <author href="https://mysocialtrip.appspot.com" email="andrinvr@gmail.com">
        Andrin von Rechenberg
    </author>

    <feature name="org.apache.cordova.facebook.Connect">
        <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
    </feature>

</widget>