<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.appspot.mysocialtrip"
        versionCode = "10"
        version     = "1.0.0" >

    <name>VagabondLand</name>

    <description>
        Use Vagabond to create, collect and share travel tips.
    </description>

    <author href="https://mysocialtrip.appspot.com" email="andrinvr@gmail.com">
        Andrin von Rechenberg
    </author>

    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="800466583339203" />
        <param name="APP_NAME" value="Vagabond.Land" />
    </gap:plugin>

</widget>