<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "land.vagabond.app"
        versionCode = "10"
        version     = "1.0.0" >

    <name>Vagabond Land</name>
    <icon src="icon.png" />

    <description>
        Use Vagabond to create, collect and share travel tips.
    </description>

    <preference name="orientation" value="portrait" />
    <preference name="exit-on-suspend" value="true" />

    <author href="https://www.vagabond.land" email="andrin@vagabond.land">
        Andrin von Rechenberg
    </author>

    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="800466583339203" />
        <param name="APP_NAME" value="Vagabond Land" />
    </gap:plugin>
    <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.6" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />

</widget>